/* Component: Select_Seat */
.greenbox{
  position: relative;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.greenbox::before{
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  transform: translateY(-50%);
  left: -1.5rem;
  background: green;
}

.redbox{
  position: relative;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.redbox::before{
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  transform: translateY(-50%);
  left: -1.5rem;
  background: red;
}

.whitebox{
  position: relative;
  margin-left: 1.5rem;
}

.whitebox::before{
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  transform: translateY(-50%);
  left: -1.5rem;
  background: white;
}

.ghe{
  position: relative;
  cursor: pointer;
}

.ghe::before{
  content: "";
  position: absolute;
  width: 22px;
  height: 16px;
  top: 0;
  left: 0;
  background: white;
  border: 3px solid #ff9800;
}

.ghe[type=checkbox]{
  position: relative;
}

.ghe[type=checkbox]::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 16px;
  border: 3px solid #ff9800;
}

.ghe[type=checkbox]:checked::before{
  background: green;
}

.gheDaDat{
  position: relative;
  cursor: pointer;
}

.gheDaDat::before{
  content: "";
  position: absolute;
  width: 22px;
  height: 16px;
  top: 0;
  left: 0;
  background: red;
  border: 3px solid #ff9800;
}